header {
  .navbar {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 40px 90px;

    @media (max-width: $tablet-size) {
      padding: 40px 40px;
    }

    a {
      font-family: sans-serif;
      text-decoration: none;
      color: #00001a;
      transition: color 250ms;

      &:hover {
        color: #dfa960;
      }
    }

    .navcontent {
      display: flex;
      align-items: center;
      margin-left: auto;
      gap: 30px;
      z-index: 2;

      @media (max-width: $tablet-size) {
        position: fixed;
        height: 100vh;
        width: 100%;
        background: linear-gradient(
          to left,
          #fefdf9 70%,
          rgba(0, 0, 0, 0.5) 30%
        );
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        a {
          transform: translate(34vw, 2vh);
          color: #00001a;
          font-size: 28px;
        }

        &.navbarmobileclosed {
          display: none;
        }
      }
    }
  }

  .navicon {
    display: none;
    width: 60px;
    height: 45px;
    position: absolute;
    right: 40px;
    top: 75px;
    color: black;
    z-index: 2;
    background-color: transparent;
    border: none;

    span:nth-child(1) {
      top: 11px;
    }

    span:nth-child(2) {
      top: 20px;
    }

    span:nth-child(3) {
      top: 29px;
    }

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      max-width: 45px;
      background: black;
      border-radius: 9px;
      opacity: 1;
      left: 5px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }

    @media (max-width: $tablet-size) {
      display: inline;
    }
  }

  .navicon_open {
    span:nth-child(1) {
      top: 16px;
      -webkit-transform: rotate(135deg);
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      transform: rotate(135deg);
    }

    span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }

    span:nth-child(3) {
      top: 16px;
      -webkit-transform: rotate(-135deg);
      -moz-transform: rotate(-135deg);
      -o-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
  }
}
